.course-card {
  cursor: pointer;
}
.headline {
  text-align: center;
  margin: 40px 0 25px 0;
}
.course-box {
  min-height: 170px;
  width: 100%;
  box-sizing: border-box;
  background: #000000;
  padding: 45px 35px;
  color: #fefefe;
  text-align: center;

  .course-name {
    color: #ffffff;
  }

  .course-description {
    color: #787e82;
    padding-top: 10px;
  }
}
